.login{font-family:arial;padding:90px 0 0 0}.login .logo{display:block;margin:0 auto 10px}.login a,.login a:visited{text-decoration:underline;color:inherit}ul.notice{margin:30px auto;width:300px;text-align:center;list-style-position:inside;font-size:15px;padding:20px 30px;border-radius:3px}ul.notice.errors{background-color:#fff4f4;border:1px solid #f50909;color:#f50909}ul.notice.success{background-color:#d7eacd;border:1px solid #6fae4f;color:#6fae4f}ul.notice li{padding:5px 0}.vertical-form{margin:0 auto}.vertical-form legend{width:100%;font-size:24px;font-weight:500;text-align:center;margin:0 0 30px 0}.vertical-form input[type='text'],.vertical-form input[type='password'],.vertical-form input[type='number']{border:1px #c1c1c1 solid;color:#c1c1c1;height:40px;font-size:18px}.vertical-form input[type='text'],.vertical-form input[type='password'],.vertical-form input[type='submit'],.vertical-form input[type='number']{display:block;margin:0 auto 18px auto;width:190px;text-align:center;border-radius:3px;color:#2d2d2d;outline:none;font-family:inherit}.vertical-form input[type='submit']{color:#fff;background:#005596;border:none;height:40px;width:190px;font-size:15px;font-weight:400;outline:0;text-transform:uppercase;letter-spacing:1.5px;cursor:pointer}.vertical-form input:hover[type='submit']{background-color:#008fff;
-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease}.vertical-form .footer{text-align:center}.vertical-form .footer p:first-child{color:#222}.vertical-form .footer a:first-child{border-bottom:solid 1px #ccc;-webkit-appearance: none;
text-decoration:none}.vertical-form .footer p:nth-child(2) a{border-bottom:solid 1px #000} @media (max-width:768px){.login{padding:10px 0 0 0}}


body.login {
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130vh; 
    margin: 0; 
    padding: 0;
  }

.bienvenido{
  color: #f2ff00;
}
.ingresar{
  color: #fff;
  font-size: 15px;
}
.servicios{
  /*-webkit-text-fill-color: #000000;
  font-size: larger;
  -webkit-text-stroke:3px#ffffff;
  /*-webkit-text-stroke: 1px #005291;*/
  color: #fff;
  border-style: solid;
  border-color: #005291;
  border-width: 3px;
  box-sizing: border-box; 
  display: block;
  margin: 0;
  background-color: #005291;
  /*opacity: 70%;*/
}
.lista{
  color: #fff;
  font-size: 17 px;
  list-style: none;
  padding: 0;
}
.lista li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.lista li img {
  margin-left: 5px; /* Espacio entre el texto y la imagen */
}
.frase{
  color: #ffffff;
 
}
.contacto{
  color: #ffffff;
  border-style: solid;
  border-color: #005291;
  border-width: 3px;
  box-sizing: border-box; 
  display: block;
  margin-right:110px;
  margin-left: 110px;
  background-color: #005291;
  border-radius: 30px;
}